section.about {
    padding-top: 2rem;
}

.aboutMe h2::after {
    content:'';
    width: 11rem;
    height: 1.5rem;
    background: $primaryLight;
    display: inline;
    margin-left: -180px;
    margin-top: 1rem;
    z-index: -10;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;

    .bio {
        width: 70%;

        .underline {
            text-decoration: underline;
        }

        .emoji {
            font-size: 1.5rem;
        }
    }
}

.skills h3::after {
    content:'';
    width: 5.5rem;
    height: 1.2rem;
    background: $primaryLight;
    display: inline;
    margin-left: -85px;
    margin-top: 0.9rem;
    z-index: -10;
}

.skills ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    li {
        width: 5rem;
        text-align: center;
        padding: 5px;
        margin: 10px;

        p {
            text-align: center;
            font-size: 0.8rem;
        }
    }
}