body {
    background-color: $backgroundColor;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    padding: 0;
    list-style-type: none;
}

// a:hover & :focus

// button styling
button {
    background-color: $secondary;
    color: $backgroundColor;
    border: 2px solid $secondary;
    padding: 5px 40px;
    box-shadow: rgba(0, 0, 0, 0.30) 1.95px 1.95px 2.6px;
}

button:hover {
    background-color: $primary;
}

button:focus {
    border: 1px dashed $fontColor;
}

button:active {
    box-shadow: none
}