section.contact {
    // height: 75vh;
    height: auto;
}

.contact h3::after {
    content:'';
    width: 14.5rem;
    height: 1.5rem;
    background: $primaryLight;
    display: inline;
    margin-left: -280px;
    margin-top: 0.7rem;
    z-index: -10;
}

.messageForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .thankYouMsg {
        width: 30%;
    }
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;

    .senderInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    label,
    input, 
    textarea {
        margin-bottom: 0.8rem;
        padding: 0.5rem;
        border-radius: 10px;
    }

    input {
        width: 50%;
    }

    textarea {
        resize: none;
        width: 100%;
        height: 200px;
    }
}