footer {
    background-color: $primary;
    padding: 10px 0 20px;

    p {
        text-align: center;
        color: $backgroundColor;
    }

    i {
        color: $backgroundColor;
    }
}

.creativeLicense {
    width: 40%;
    margin: 0 auto;
}

p.creativeDesign {
    font-size: 1rem;
    line-height: 1.2;
}

p.location {
    font-size: 0.8rem;
    line-height: 0;
    padding: 0;

    a {
        color: $backgroundColor;

        &:hover {
            color: $secondaryLight;
        }

        &:focus {
            border: 1px dotted $secondary;
        }
    }
}