footer {
    background-color: $secondary;
    padding: 20px;

    p {
        text-align: center;
        color: $backgroundColor;
    }

    i {
        color: $backgroundColor;
    }
}

.footerContactLinks, 
.creativeLicense {
    width: 40%;
    margin: 0 auto;
}

.footerContactLinks ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    li {
        width: calc(100% / 3);
        text-align: center;
    }
}