header {
    padding-top: 2rem;
    height: 100vh;
    display: flex;
    align-items: center;
}

// typewriter effect
h1.hello {
    width: 60%;
    overflow: hidden;
    border-right: .03em solid $secondary;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(30, end), 
        blink 0.5s step-end infinite;
}

h1.mobileH1 {
    display: none;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 60% }
}

/* The typewriter cursor effect */
@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: $secondary }
}

.nameDiv h1::after {
    content:'';
    width: 24rem;
    height: 3rem;
    background: $primaryLight;
    display: inline;
    margin-left: -410px;
    margin-top: 2rem;
    z-index: -10;
    transition: 4s ease-in;
}

.nameDiv {
    height: 8rem;
    border: 1px solid transparent;
}

.scrollArrow {
    height: 6rem;
}

i.fa-angle-down {
    color: $primary;
    font-size: 3.5rem;
    position: relative;
    top: 10%;
    left: calc(50% - 1rem);
    margin-top: 5rem;
    animation: scrollDown 5s infinite;
}

@keyframes scrollDown {
    0%{
        top: 0;
    }

    50%{
        top: 20%;
    }

    100%{
        top: 0%;
    }
}


