header {
    padding-top: 2rem;
    height: 90vh;
    display: flex;
    align-items: center;
}

// typewriter effect
h1 {
    width: 60%;
    overflow: hidden;
    border-right: .03em solid $secondary;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(30, end), 
        blink 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 60% }
}

/* The typewriter cursor effect */
@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: $secondary }
}

h2::after {
    content:'';
    width: 21rem;
    height: 3rem;
    background: $primaryLight;
    display: inline;
    margin-left: -410px;
    margin-top: 1.5rem;
    z-index: -10;
    transition: 4s ease-in;
}

.h2div {
    height: 8rem;
    border: 1px solid transparent;
}


