@media (max-width: 1080px) {
    h1 {
        font-size: 6.5rem;
    }

    h1.mobileH1 {
        font-size: 5rem;

        &::after {
            width: 30rem;
            margin-left: -510px;
            margin-top: 2.5rem;
            height: 4rem;
        }
    }

    fieldset {
        padding-bottom: 60px;
    }
}

@media (max-width: 1000px) {
    fieldset {
        width: 450px;
    }
}

@media (max-width: 840px) {
    h1 {
        font-size: 5rem;
    }

    .nameDiv h1 {
        font-size: 4rem;

        &::after {
            width: 24rem;
            margin-left: -410px;
            margin-top: 2rem;
            height: 3.5rem;
        }
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    h4 {
        font-size: 1rem;
    }
    
    p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    i {
        font-size: 1.8rem;
    }

    /* media queries for the nav section */
    nav {
        position: static;
        padding: 0;
        
        ul.desktopNav {
            display: none;
        }

        .mobileNav, 
        label.mobileNav {
            display: flex;
            justify-content: flex-end;
        }
    }

    /* media queries for about section */
    .aboutMe h2::after {
        width: 8.3rem;
        height: 1.2rem;
        margin-left: -125px;
        margin-top: 0.6rem;
    }

    .aboutMe .imgContainer {
        width: 40%;
    }

    .skills h3::after {
        width: 4.2rem;
        height: 1rem;
        margin-left: -60px;
        margin-top: 0.7rem;
    }

    /* media queries for portfolio section */
    section.portfolio {
        padding-bottom: 40px;
    }
    .portfolio h2::after {
        width: 15rem;
        height: 1.2rem;
        margin-left: -265px;
        margin-top: 0.6rem;
    }

    ul.liveRepo li a {
        font-size: 0.8rem;
    }

    /* media queries for contact section */
    .contact h2::after {
        width: 12.3rem;
        height: 1.2rem;
        margin-left: -210px;
        margin-top: 0.6rem;
    }
    
    .messageForm {
        padding-bottom: 40px;

        .thankYouMsg {
            width: 450px;
            padding-bottom: 40px;
        }
    }

    /* media queries for footer */
    p.creativeDesign {
        font-size: 0.8rem;
        // line-height: 1rem;
    }

    p.designInsp {
        font-size: 0.5rem;
    }
}

@media (max-width: 645px) {
    h1 {
        font-size: 4rem;
    }

    .nameDiv h1 {
        font-size: 3rem;

        &::after {
            width: 18rem;
            margin-left: -305px;
            margin-top: 1.5rem;
            height: 2.5rem;
        }
    }

    // media queries for about section
    .aboutMe {
        flex-direction: column-reverse;

        .imgContainer {
            width: 50%;
        }

        .bio {
            width: 100%;
        }
    }

    // media queries for footer
    .creativeLicense {
        width: 100%;
    }
}

@media (max-width: 575px) {
    h1.hello {
        animation: blink 0.5s step-end infinite;
    }

    h1.animate__animated {
        display: none;
    }    

    h1.mobileH1 {
        display: flex;

        &::after {
            margin-left: -288px;
        }
    }

    /* media queries for nav */
    input[type="checkbox"]:focus ~ label {
        border: none;
    }

    /* media queries for form */
    fieldset .senderInfo {
        flex-direction: column;

        input {
            width: 100%;
        }
    }
}

@media (max-width: 520px) {
    h1 {
        font-size: 3rem;
    }

    h1.mobileH1 {
        font-size: 2rem;

        &::after {
            width: 11.5rem;
            margin-left: -190px;
            margin-top: 1rem;
            height: 1.8rem;
        }
    }
}

@media (max-width:475px) {
    /* media queries for nav */
    .mobileNav i {
        font-size: 1.5rem;
    }

    /* media queries for form */
    fieldset {
        width: 350px;
    }
}

@media (max-width: 414px) {
    h1.mobileH1::after {
        margin-left: -195px;
    }

    .aboutme h2::after {
        margin-left: -150px;
        margin-top: 0.7rem;
    }

    .skills h3::after {
        margin-left: -62px;
        margin-top: 0.6rem;
    }

    .portfolio h2::after {
        margin-left: -263px;
    }

    .contact h2::after {
        margin-left: -210px;
    }


}

@media (max-width:390px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 350px) {
    /* media queries for portfolop section */
    ul.liveRepo li a {
        font-size: 0.6rem;
    }

    /* media queries for form */
    fieldset {
        width: 315px;
    }
}