
nav {
    background-color: $backgroundColor;
    position: fixed;
    width: 100%;
    padding: 25px 0;
    z-index: 50;
    
    .mobileNav, 
    i.mobileNav {
        display: none;
    }
    
    ul.desktopNav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        li {
            padding-left: 50px;
        }

        a:hover {
            border-bottom: 3px solid $secondary;
        }
    }
}
