section.portfolio {
    // height: 90vh;
    padding: 2rem 0 3rem;
    margin-top: 100px;
}

.portfolio h2::after {
    content:'';
    width: 19.5rem;
    height: 1.5rem;
    background: $primaryLight;
    display: inline;
    margin-left: -350px;
    margin-top: 1rem;
    z-index: -10;
}

.portfolio ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    li.projectContainer {
        width: 330px;
        border-radius: 10px;
        border: 5px solid $secondary;
        background-color: $secondaryLight;
        padding: 45px 0.5rem 20px;
        margin: 1rem;
    }

    li.projectContainer:hover {
        background-color: $primaryLight;
        border: 5px solid $primary;
        transform: scale(1.03);
    }
}

.productLinks {

    h4 {
        margin: 0 0 1rem;
    }

    ul.liveRepo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto 1rem;
        text-transform: uppercase;
        font-family: $headerFont;

        li {
            width: 40%;
            text-align: center;
            border: 3px solid $primary;
            padding: 5px;
            border-radius: 10px;
            background-color: $tertiary;

            &:hover, 
            &:focus {
                border: 3px solid $secondary;
                // background-color: $secondaryLight;
            }
        }
    }
}

.product .imgContainer {
    width: 90%;
    height: 180px;
    margin: 0 auto;

    img {
        width: auto;
        height: 100%;
        border: 2px solid #2F4F4F;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 2px 3px 5px;
    }

    img:hover {
        border: 2px solid #FFAB40;
    }
}

.projectDescription p {
        text-align: center;
        font-size: 0.7rem;
}

.projectDescription a:hover, 
.projectDescription a:focus {
    border-bottom: 1px solid $fontColor;
}

ul.skillsUsed {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    li {
        text-align: center;
        width: 30px;
        margin: 0.5rem;
        

        i {
            font-size: 1.4rem;
        }
    }
}