section.portfolio {
    height: 90vh;
}

.portfolio h3::after {
    content:'';
    width: 18rem;
    height: 1.5rem;
    background: $primaryLight;
    display: inline;
    margin-left: -29%;
    margin-top: 0.7rem;
    z-index: -10;
}

.portfolio ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // flex-wrap: wrap;

    li {
        width: calc( (100% / 3) - 1rem);
        border: 1px solid red;
    }
}

.productLinks {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // flex-wrap: wrap;
    border: 1px solid blue;

    h5 {
        flex-basis: 1 3 ;
    }

    ul li {
        flex-basis: 3 1 auto;
    }
}

.product .imgContainer {
    width: 100%;
    height: 50%;
    border: 1px solid green;

    img {
        width: 100%;

    }
}