html {
    font-size: 125%;
}

body {
    font-family: $bodyFont;
    font-size: 1rem;
    color: $fontColor;
}

h1 {
    font-family: $headerFont;
    color: $headerColor;
    font-size: 8rem;
    text-align: center;

    span.accentDot {
        color: $primary;
    }
}

.nameDiv h1 {
    font-family: $headerFont;
    color: $headerColor;
    font-size: 4rem;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: $headerFont;
    color: $headerColor;
    font-size: 2rem;
    display: flex;
}

h3 {
    font-family: $headerFont;
    color: $headerColor;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
}

h4 {
    font-family: $headerFont;
    color: $headerColor;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

p {
    font-family: $bodyFont;
    color: $fontColor;
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: 0.05rem;
}

a {
    text-decoration: none;
    color: $fontColor
}

i {
    color: $fontColor;
    font-size: 3rem;
}