$headerFont: 'Ubuntu', sans-serif;

$bodyFont: 'Lora', serif;

/* site colours */
$primary: #EBB859;
$primaryLight: #EBB85980;
// CC;
$secondary: #7D9276;
$secondaryLight: #7D927680;
$backgroundColor: #F9F7F6;

// #FCFAF6; 
$headerColor: #4E4941;
$fontColor: black;