html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* site colours */
body {
  background-color: #F9F7F6;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  background-color: #7D9276;
  color: #F9F7F6;
  border: 2px solid #7D9276;
  padding: 5px 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
}

button:hover {
  background-color: #EBB859;
}

button:focus {
  border: 1px dashed black;
}

button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lora", serif;
  font-size: 1rem;
  color: black;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  color: #4E4941;
  font-size: 8rem;
}
h1 span.accentDot {
  color: #EBB859;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  color: #4E4941;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  color: #4E4941;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h4 {
  font-family: "Ubuntu", sans-serif;
  color: #4E4941;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h5 {
  font-family: "Ubuntu", sans-serif;
  color: #4E4941;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

p {
  font-family: "Lora", serif;
  color: black;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.05rem;
}

a {
  text-decoration: none;
  color: black;
}

i {
  color: black;
  font-size: 2.2rem;
}

.mobileNav,
i.mobileNav {
  display: none;
}

nav ul.desktopNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav ul.desktopNav li {
  padding-left: 50px;
}
nav ul.desktopNav a:hover {
  border-bottom: 3px solid #7D9276;
}

header {
  padding-top: 2rem;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  width: 50%;
  overflow: hidden;
  border-right: 0.03em solid #7D9276;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  -webkit-animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
          animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #7D9276;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #7D9276;
  }
}
h2::after {
  content: "";
  width: 21rem;
  height: 3rem;
  background: #EBB859CC;
  display: inline;
  margin-left: -34%;
  margin-top: 1.5rem;
  z-index: -10;
  -webkit-transition: 4s ease-in;
  transition: 4s ease-in;
}

section.about {
  height: 90vh;
}

.aboutMe h3::after {
  content: "";
  width: 9.5rem;
  height: 1.5rem;
  background: #EBB859CC;
  display: inline;
  margin-left: -22%;
  margin-top: 0.7rem;
  z-index: -10;
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutMe .bio {
  width: 70%;
}

.skills h4::after {
  content: "";
  width: 4rem;
  height: 1.2rem;
  background: #EBB859CC;
  display: inline;
  margin-left: -6%;
  margin-top: 0.5rem;
  z-index: -10;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills ul li {
  width: 3.5rem;
  text-align: center;
}

section.portfolio {
  height: 90vh;
}

.portfolio h3::after {
  content: "";
  width: 18rem;
  height: 1.5rem;
  background: #EBB859CC;
  display: inline;
  margin-left: -29%;
  margin-top: 0.7rem;
  z-index: -10;
}

.portfolio ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.portfolio ul li {
  width: calc(33.3333333333% - 1rem);
}

.productLinks h5 {
  -ms-flex-preferred-size: 1 3;
      flex-basis: 1 3;
}
.productLinks ul li {
  -ms-flex-preferred-size: 3 1 auto;
      flex-basis: 3 1 auto;
}

.product .imgContainer {
  width: 100%;
  height: 50%;
}
.product .imgContainer img {
  width: 100%;
}

section.contact {
  height: 70vh;
}

.contact h3::after {
  content: "";
  width: 14.5rem;
  height: 1.5rem;
  background: #EBB859CC;
  display: inline;
  margin-left: -23.5%;
  margin-top: 0.7rem;
  z-index: -10;
}

fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: 0 auto;
}
fieldset label,
fieldset input,
fieldset textarea {
  margin-bottom: 1rem;
}

footer {
  background-color: #EBB859;
  padding: 20px;
}
footer p {
  text-align: center;
  color: #F9F7F6;
}
footer i {
  color: #F9F7F6;
}

.footerContactLinks,
.creativeLicense {
  width: 40%;
  margin: 0 auto;
}

.footerContactLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footerContactLinks ul li {
  width: 33.3333333333%;
  text-align: center;
}

p.creativeDesign {
  font-size: 1rem;
  line-height: 1.2;
}

p.designInspo {
  font-size: 0.8rem;
  line-height: 0;
  padding: 0;
}