html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* site colours */
body {
  background-color: #F9F7F6;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  background-color: #7D9276;
  color: #F9F7F6;
  border: 1px solid #7D9276;
  border-radius: 10px;
  padding: 5px 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 5px;
          box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 5px;
}

button:hover {
  background-color: #EBB859;
  border: 1px solid #EBB859;
}

button:focus {
  border: 1px dashed black;
}

button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lora", serif;
  font-size: 1rem;
  color: black;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  color: #4E4941;
  font-size: 8rem;
  text-align: center;
}
h1 span.accentDot {
  color: #EBB859;
}

.nameDiv h1 {
  font-family: "Ubuntu", sans-serif;
  color: #4E4941;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  color: #4E4941;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  color: #4E4941;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h4 {
  font-family: "Ubuntu", sans-serif;
  color: #4E4941;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  font-family: "Lora", serif;
  color: black;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.05rem;
}

a {
  text-decoration: none;
  color: black;
}

i {
  color: black;
  font-size: 3rem;
}

nav {
  background-color: #F9F7F6;
  position: fixed;
  width: 100%;
  padding: 25px 0;
  z-index: 50;
}
nav .mobileNav,
nav label.mobileNav,
nav ul.mobileNavMenu {
  display: none;
}
nav ul.desktopNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav ul.desktopNav li {
  padding-left: 50px;
}
nav ul.desktopNav a:hover {
  border-bottom: 3px solid #7D9276;
}

/* pop-put menu for mobileNavMenu */
input[type=checkbox] {
  opacity: 0;
  position: relative;
  left: 90%;
}
input[type=checkbox]:focus ~ label {
  border: 1px dotted #EBB859;
  height: 3rem;
}
input[type=checkbox]:checked ~ .mobileNavMenu {
  display: block;
  position: fixed;
}

i.fa-bars,
i.fa-times {
  background-color: #EBB85980;
  padding: 10px;
  border-radius: 10px;
  width: 51.5px;
  text-align: center;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  position: fixed;
}

ul.mobileNavMenu {
  position: absolute;
  right: 5%;
  top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 120px;
  background-color: #EBB85980;
  padding: 0 10px;
  border-radius: 10px;
  -webkit-transition: 2s;
  transition: 2s;
}
ul.mobileNavMenu li {
  text-align: right;
  padding: 10px 0 10px;
  border-bottom: 1px solid transparent;
}
ul.mobileNavMenu li:hover {
  border-bottom: 2px solid #7D9276;
}
ul.mobileNavMenu li:focus {
  border: 1px dotted #7D9276;
}

header {
  padding-top: 2rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1.hello {
  width: 60%;
  overflow: hidden;
  border-right: 0.03em solid #7D9276;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  -webkit-animation: typing 3.5s steps(30, end), blink 0.5s step-end infinite;
          animation: typing 3.5s steps(30, end), blink 0.5s step-end infinite;
}

h1.mobileH1 {
  display: none;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
/* The typewriter cursor effect */
@-webkit-keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #7D9276;
  }
}
@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #7D9276;
  }
}
.nameDiv h1::after {
  content: "";
  width: 24rem;
  height: 3rem;
  background: #EBB85980;
  display: inline;
  margin-left: -410px;
  margin-top: 2rem;
  z-index: -10;
  -webkit-transition: 4s ease-in;
  transition: 4s ease-in;
}

.nameDiv {
  height: 8rem;
  border: 1px solid transparent;
}

section.about {
  padding-top: 2rem;
}

.aboutMe h2::after {
  content: "";
  width: 11rem;
  height: 1.5rem;
  background: #EBB85980;
  display: inline;
  margin-left: -180px;
  margin-top: 1rem;
  z-index: -10;
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutMe .bio {
  width: 70%;
}

.skills h3::after {
  content: "";
  width: 5.5rem;
  height: 1.2rem;
  background: #EBB85980;
  display: inline;
  margin-left: -85px;
  margin-top: 0.9rem;
  z-index: -10;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills ul li {
  width: 5rem;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.skills ul li p {
  text-align: center;
  font-size: 0.8rem;
}

section.portfolio {
  padding: 2rem 0 3rem;
  margin-top: 100px;
}

.portfolio h2::after {
  content: "";
  width: 19.5rem;
  height: 1.5rem;
  background: #EBB85980;
  display: inline;
  margin-left: -350px;
  margin-top: 1rem;
  z-index: -10;
}

.portfolio ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio ul li.projectContainer {
  width: 330px;
  border-radius: 10px;
  border: 5px solid #7D9276;
  background-color: #7D927680;
  padding: 45px 0.5rem 20px;
  margin: 1rem;
}
.portfolio ul li.projectContainer:hover {
  background-color: #EBB85980;
  border: 5px solid #EBB859;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.productLinks h4 {
  margin: 0 0 1rem;
}
.productLinks ul.liveRepo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  margin: 0 auto 1rem;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
}
.productLinks ul.liveRepo li {
  width: 40%;
  text-align: center;
  border: 3px solid #EBB859;
  padding: 5px;
  border-radius: 10px;
  background-color: #FBF6EA;
}
.productLinks ul.liveRepo li:hover, .productLinks ul.liveRepo li:focus {
  border: 3px solid #7D9276;
}

.product .imgContainer {
  width: 90%;
  height: 180px;
  margin: 0 auto;
}
.product .imgContainer img {
  width: auto;
  height: 100%;
  border: 2px solid #2F4F4F;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 2px 3px 5px;
          box-shadow: rgba(0, 0, 0, 0.35) 2px 3px 5px;
}
.product .imgContainer img:hover {
  border: 2px solid #FFAB40;
}

.projectDescription p {
  text-align: center;
  font-size: 0.7rem;
}

ul.skillsUsed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
ul.skillsUsed li {
  text-align: center;
  width: 30px;
  margin: 0.5rem;
}
ul.skillsUsed li i {
  font-size: 1.4rem;
}

section.contact {
  margin-top: 2rem;
}

.contact h2::after {
  content: "";
  width: 16rem;
  height: 1.5rem;
  background: #EBB85980;
  display: inline;
  margin-left: -280px;
  margin-top: 1rem;
  z-index: -10;
}

.messageForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0 150px;
}
.messageForm .thankYouMsg {
  width: 40%;
  padding: 0 1rem;
}
.messageForm .thankYouMsg h3 {
  margin-top: 10px;
  font-size: 1.4rem;
}

ul.contactLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}
ul.contactLinks li {
  width: 33.3333333333%;
  text-align: center;
}
ul.contactLinks li i {
  font-size: 1.5rem;
  border: 1px solid transparent;
  padding: 5px;
}
ul.contactLinks li i:hover {
  color: #7D9276;
}
ul.contactLinks li i:focus {
  border: 1px dotted #7D9276;
}

fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}
fieldset .senderInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
fieldset label,
fieldset input,
fieldset textarea {
  margin-bottom: 0.8rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #FBF6EA4D;
}
fieldset input[type=text] {
  width: 40%;
}
fieldset input[type=email] {
  width: 55%;
}
fieldset textarea {
  resize: none;
  width: 100%;
  height: 200px;
}

footer {
  background-color: #EBB859;
  padding: 10px 0 20px;
}
footer p {
  text-align: center;
  color: #F9F7F6;
}
footer i {
  color: #F9F7F6;
}

.creativeLicense {
  width: 40%;
  margin: 0 auto;
}

p.creativeDesign {
  font-size: 1rem;
  line-height: 1.2;
}

p.designInspo {
  font-size: 0.8rem;
  line-height: 0;
  padding: 0;
}

@media (max-width: 1080px) {
  h1 {
    font-size: 6.5rem;
  }

  .nameDiv h1 {
    font-size: 5rem;
  }
  .nameDiv h1::after {
    width: 30rem;
    margin-left: -510px;
    margin-top: 2.5rem;
    height: 4rem;
  }

  fieldset {
    padding-bottom: 60px;
  }
}
@media (max-width: 1000px) {
  fieldset {
    width: 450px;
  }
}
@media (max-width: 840px) {
  h1 {
    font-size: 5rem;
  }

  .nameDiv h1 {
    font-size: 4rem;
  }
  .nameDiv h1::after {
    width: 24rem;
    margin-left: -410px;
    margin-top: 2rem;
    height: 3.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  i {
    font-size: 1.8rem;
  }

  /* media queries for the nav section */
  nav {
    position: static;
    padding: 0;
  }
  nav ul.desktopNav {
    display: none;
  }
  nav .mobileNav,
nav label.mobileNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  /* media queries for about section */
  .aboutMe h2::after {
    width: 8.3rem;
    height: 1.2rem;
    margin-left: -135px;
    margin-top: 0.6rem;
  }

  .aboutMe .imgContainer {
    width: 40%;
  }

  .skills h3::after {
    width: 4.2rem;
    height: 1rem;
    margin-left: -60px;
    margin-top: 0.7rem;
  }

  /* media queries for portfolio section */
  section.portfolio {
    padding-bottom: 40px;
  }

  .portfolio h2::after {
    width: 15rem;
    height: 1.2rem;
    margin-left: -265px;
    margin-top: 0.6rem;
  }

  ul.liveRepo li a {
    font-size: 0.8rem;
  }

  /* media queries for contact section */
  .contact h2::after {
    width: 12.3rem;
    height: 1.2rem;
    margin-left: -210px;
    margin-top: 0.6rem;
  }

  .messageForm {
    padding-bottom: 40px;
  }
  .messageForm .thankYouMsg {
    width: 450px;
    padding-bottom: 40px;
  }

  /* media queries for footer */
  p.creativeDesign {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  p.designInsp {
    font-size: 0.5rem;
  }
}
@media (max-width: 645px) {
  h1 {
    font-size: 4rem;
  }

  .nameDiv h1 {
    font-size: 3rem;
  }
  .nameDiv h1::after {
    width: 18rem;
    margin-left: -305px;
    margin-top: 1.5rem;
    height: 2.5rem;
  }

  .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .aboutMe .imgContainer {
    width: 50%;
  }
  .aboutMe .bio {
    width: 100%;
  }

  .creativeLicense {
    width: 100%;
  }
}
@media (max-width: 575px) {
  h1.hello {
    -webkit-animation: blink 0.5s step-end infinite;
            animation: blink 0.5s step-end infinite;
  }

  h1.animate__animated {
    display: none;
  }

  h1.mobileH1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  h1.mobileH1::after {
    margin-left: -288px;
  }

  /* media queries for form */
  fieldset .senderInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  fieldset .senderInfo input {
    width: 100%;
  }
}
@media (max-width: 520px) {
  h1 {
    font-size: 3rem;
  }

  h1.mobileH1 {
    font-size: 2rem;
  }
  h1.mobileH1::after {
    width: 11.5rem;
    margin-left: -190px;
    margin-top: 1rem;
    height: 1.8rem;
  }
}
@media (max-width: 475px) {
  /* media queries for nav */
  .mobileNav i {
    font-size: 1.5rem;
  }

  /* media queries for form */
  fieldset {
    width: 350px;
  }
}
@media (max-width: 390px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 350px) {
  /* media queries for portfolop section */
  ul.liveRepo li a {
    font-size: 0.6rem;
  }

  /* media queries for form */
  fieldset {
    width: 315px;
  }
}